/*
 * Original version: 1.0 © 2010 Andrew Valums ( andrew(at)valums.com )
 * Current Maintainer (2.0+): 2012, Ray Nicholus ( fineuploader(at)garstasio.com )
 *
 * Licensed under MIT license, GNU GPL 2 or later, GNU LGPL 2 or later, see license.txt.
 */
.qq-uploader {
    /*position: relative;
    width: 100%;*/
}
.qq-upload-button {
   /* display: block;*/
    /*width: 105px;*/
    /*padding: 7px 0;*/
    text-align: center;
    /*background: #880000;*/
    border-bottom: 1px solid #DDD;
    color: #FFF;
}
.qq-upload-button-hover {
    background: #CC0000;
}
.qq-upload-button-focus {
    outline: 1px dotted #000000;
}
.qq-upload-drop-area, .qq-upload-extra-drop-area {
    font-family: sans-serif;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-height: 30px;
    z-index: 2;
    background: #fff;
    text-align: center;
    padding: 40px 0;
    border: 3px dashed #dadada;
    -webkit-border-radius:4px;
       -moz-border-radius:4px;
            border-radius:4px;

}
.qq-upload-drop-area span {
    display: block;
    position: absolute;
    top: 50%;
    width: 100%;
    margin-top: -8px;
    font-size: 16px;
}
.qq-upload-extra-drop-area {
    position: relative;
    margin-top: 50px;
    font-size: 16px;
    padding-top: 30px;
    height: 20px;
    min-height: 40px;
}
.qq-upload-drop-area-active {
    background: #DFF0D8;
    border-color: #67A44E;
}
.qq-upload-list, .fb-upload-list {
    margin: 0;
    padding: 0;
    list-style: none;
}
.qq-upload-list li, .fb-upload-list li {
    padding: 9px;
    line-height: 15px;
    font-size: 16px;
    width: 120px;
    height: 80px;
    float: left;
    margin: 8px 8px 12px 8px;
    text-align:center;
    /*border: 1px solid #BDC3C7;*/
   background: #EFF0F2;
}

.qq-upload-list li img, .fb-upload-list li img {
    max-width: 100%;
    max-height: 80px;
    margin: auto;
}

.qq-upload-file, .qq-upload-spinner, .qq-upload-size, .qq-upload-cancel, .qq-upload-retry, .qq-upload-failed-text, .qq-upload-finished, .qq-upload-delete {
    margin-right: 12px;
}
.qq-upload-file {
    text-align: left !important;
}
.qq-upload-spinner {
    display: inline-block;
    background: url("../img/circleArrows.gif");
    width: 15px;
    height: 15px;
    vertical-align: text-bottom;
}
.qq-drop-processing {
    display: none;
}
.qq-drop-processing-spinner {
    display: inline-block;
    background: url("../img/processing.gif");
    width: 24px;
    height: 24px;
    vertical-align: text-bottom;
}
.qq-upload-finished {
    display:none;
    width:15px;
    height:15px;
    vertical-align:text-bottom;
}
.qq-upload-retry, .qq-upload-delete {
    display: none;
    color: #000000;
}
.qq-upload-cancel, .qq-upload-delete {
	color: #000000;
}
.qq-upload-retryable .qq-upload-retry {
    display: inline;
}
.qq-upload-size, .qq-upload-cancel, .qq-upload-retry, .qq-upload-delete {
    font-size: 12px;
    font-weight: normal;
}
.qq-upload-failed-text {
    display: none;
    font-style: italic;
    font-weight: bold;
}
.qq-upload-failed-icon {
    display:none;
    width:15px;
    height:15px;
    vertical-align:text-bottom;
}
.qq-upload-fail .qq-upload-failed-text {
    display: inline;
}
.qq-upload-retrying .qq-upload-failed-text {
    display: inline;
    color: #D60000;
}
.qq-upload-list li.qq-upload-success, .fb-upload-list li.qq-upload-success {
    background-color: #DEE1E3;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 1px;
    color: #FFFFFF;
}
.qq-upload-list li.qq-upload-fail {
    background-color: #D60000;
    color: #FFFFFF;
}
.qq-progress-bar {
    background: #2ECC71;


    width: 0%;
    height: 15px;
    margin-bottom: 3px;
    display: none;
}
