body {background: url('../img/bg_body.jpg') #fdfdfd;}

h2 {
    border-bottom: 3px solid #0088cc;
}

.tIdent {
    text-indent:30px;
}

.rounded {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

}

.inner_content {
    background: #fdfdfd;
    padding: 5px 10px 10px 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.fLeft {
    float: left;
}

.fRight {
    float: right;
}

.clear{
      clear: both;    
}

#block_associados {
    margin-top: 20px;
}


#block_info {
    font-size: 16px;
}

#block_info img {
    margin-right: 15px;
}


#block_associados p {
    margin-bottom: 40px;
}


#block_processo img {
    margin-top: 40px;
}


#block_processo p {

}




#topo {
    padding: 10px 0;
}


#login_topo {
    background: #fefefe;
    padding: 0 10px 0 10px;
    border:2px solid #f9f9f9;
    box-shadow: 0 0 0 1px rgba(0,0,0,0.1);
}

#login_topo legend {
    background: #696969;
    margin:-2px 0 7px -12px;
    padding: 2px 3px 2px 3px;
    width: 100px;
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    -webkit-border-radius: 4px 0 4px 0;
    -moz-border-radius: 4px 0 4px 0;
    border-radius: 4px 0 4px 0;

}


#menu_topo a:hover {
    padding-bottom: 7px;
    border-bottom: 3px solid #0088cc;
}


#cliente {
    font-size: 1.2em;
}


#footer {
    color: #fff;
    background: url('../img/bg_footer.jpg');
    min-height: 150px;
    margin-top: 150px;    
}



#footer a {
    color:#fff;
}



#modalProcesso li {
    list-style: none;
}


#modalProcesso .modal-body {
    max-height:600px;
}


#developedBy p {
    margin: 0;
    margin-top: 10px;
}

















/* =============================================================================
      Contato - Mensagem Formulário 
   ========================================================================== */ 
#form_contato .control-group {
    padding:11px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;}

label.error {
    position: absolute; 
    color:#B94A48; 
    margin-left:23%; 
    margin-top:-28px;}

/* ============================================================================ */







