
a {
  color: #16a085;
  text-decoration: none;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}
a:hover,
a:focus {
  color: #1abc9c;
  text-decoration: none;
}

.dropdown-menu {
	-moz-border-radius: 0 !important;
	-webkit-border-radius: 0 !important;
	border-radius: 0 !important;
}

.navbar .nav>li>a {
	text-shadow: none !important;
}

.dropdown-menu a:hover {
	background: #16A085 !important;
}

#services {
	max-height: 320px;	
	overflow-y: auto;
	padding: 0 20px 0 10px;
}

#uploadBox {
	border: 1px solid #dadada;padding: 10px;
}

#selectFilesFromFacebook {
	/*top: 318px;
	margin-left: 365px;
	position: absolute;*/
}

#selectFilesFromFacebook:hover {text-decoration: none;}

#services label {
	cursor: pointer;
}

.t-right {
	text-align:right;
}

.t-center {
	text-align:center !important;
}

.box .span9 a {color:#1D73BC !important; }

body {
	color: #34495E;
    padding-bottom: 20px !important;
    padding-top: 0 !important;

}

.sidebar-nav {
    padding: 9px 0;
}

.sidebar-nav-fixed {
    position:fixed;
    top:60px;
    width:21.97%;
}

@media (max-width: 767px) {
    .sidebar-nav-fixed {
        width:auto;
    }
}

@media (max-width: 979px) {
    .sidebar-nav-fixed {
        position:static;
        width: auto;
    }
}

body {background: #f3f3f3 url('../img/bg_body.jpg')}

.box {
	background: #fff;
	-webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, .1);
	box-shadow: 0 0 0 0 rgba(0, 0, 0, .1);
}


.navbar-blue .navbar-inner {
 
  background: #34495e ;
  height:50px;
}


.navbar.navbar-blue .nav > li > a  {
    color: #fff;
}

.navbar {margin-bottom: 20px}

.brand {
    color: #fff !important;
    text-shadow: none !important;
    margin-top: 5px;
}


.brand img {margin:-8px 0 0 20px ;}

.box-header {
    /*background: #1ABC9C;*/
    padding: 0 !important;
    /*border: 1px solid #1ABC9C;*/
    margin-top: -1px;
}


 .box-header h2 {
    font-weight: normal;
    padding: 10px !important;
    margin:0 !important;
}

.box-header .btn {margin:5px 5px 0  0;}

.narrowCol {width:80px;}
.medium-col {width:200px;}


#dashBoardEmpty .eventWrapper {margin-bottom: 5px;}

.eventWrapper h4 {margin:0;color: #606060; font-weight: normal;}

 


@-webkit-keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}

@-moz-keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}

@-ms-keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}
 
 
input[type="checkbox"]   {
    display:inline-block;
    width:19px;
    height:19px;
    margin:-1px 4px 0 0;
    vertical-align:middle;
     cursor:pointer;
}

.services-list li {
	border-bottom: 1px solid #DADADA;
	padding:5px 0;
}




.flat-butt {
  display: inline-block;
  margin: 0 5px;
  border-radius: 3px;
  font-family: "Lato", sans-serif;
  font-size: 16.5px;
  padding: 12px 20px;
  border: 0;
  background: #34495E;
  color: #FFF;
  cursor: pointer;
  outline: 0;
}

.flat-butt-mini {
 
  margin: 0 5px;
  border-radius: 3px;
  font-family: "Lato", sans-serif;
  font-size: 13px;
  padding: 3px 10px;
  border: 0;
  background: #34495E;
  color: #FFF;
  cursor: pointer;
  outline: 0;	
}

.flat-butt:hover, .flat-butt-mini:hover {
  background: #005580;
  color:#fff;
  text-decoration: none;
}
.flat-primary-butt {
  background: #1abc9c;
}
.flat-primary-butt:hover {
  background: #2fe2bf;
}
.flat-info-butt {
  background: #3498db;
}
.flat-info-butt:hover {
  background: #5dade2;
}

.flat-warning-butt {
  background: #F39C12;
}
.flat-warning-butt:hover {
  background: #F1C40F;
}

.flat-danger-butt {
  background: #e74c3c;
}
.flat-danger-butt:hover {
  background: #ec7063;
}
.flat-border-butt {
  padding: 8px 20px;
  border: 4px solid #2C3E50;
}
.flat-border-butt:hover {
  border: 4px solid #2C3E50;
}
.flat-primary-border-butt {
  border-color: #16A085;
}
.flat-primary-border-butt:hover {
  border-color: #27AE60;
}
.flat-info-border-butt {
  border-color: #2980B9;
}
.flat-info-border-butt:hover {
  border-color: #2980B9;
}
.flat-danger-border-butt {
  border-color: #C0392B;
}
.flat-danger-border-butt:hover {
  border-color: #C0392B;
}
.flat-double-butt {
  padding: 8px 20px;
  border: 3px solid #FFF;
  box-shadow: #34495E 0px 0px 0px 3px;
}
.flat-double-butt:hover {
  box-shadow: #005580 0px 0px 0px 3px;
}
.flat-primary-double-butt {
  box-shadow: #1abc9c 0px 0px 0px 3px;
}
.flat-primary-double-butt:hover {
  box-shadow: #2fe2bf 0px 0px 0px 3px;
}
.flat-info-double-butt {
  box-shadow: #3498db 0px 0px 0px 3px;
}
.flat-info-double-butt:hover {
  box-shadow: #5dade2 0px 0px 0px 3px;
}
.flat-danger-double-butt {
  box-shadow: #e74c3c 0px 0px 0px 3px;
}
.flat-danger-double-butt:hover {
  box-shadow: #ec7063 0px 0px 0px 3px;
}
.flat-underline-butt {
  text-decoration: underline;
}
.flat-grad-butt {
  background-image: linear-gradient(#34495E 50%, #2C3E50 50%);
}
.flat-primary-grad-butt {
  background-image: linear-gradient(#1ABC9C 50%, #16A085 50%);
}
.flat-info-grad-butt {
  background-image: linear-gradient(#3498DB 50%, #2980B9 50%);
}
.flat-danger-grad-butt {
  background-image: linear-gradient(#E74C3C 50%, #C0392B 50%);
}
.flat-inner-butt {
  padding: 11px 0px;
  box-shadow: inset #2C3E50 -3px -3px 0px;
}
.flat-primary-inner-butt {
  background: #1ABC9C;
  box-shadow: inset #16A085 -3px -3px 0px;
}
.flat-info-inner-butt {
  box-shadow: inset #2980B9 -3px -3px 0px;
}
.flat-danger-inner-butt {
  box-shadow: inset #C0392B -3px -3px 0px;
}
.flat-outer-butt {
  padding: 11px 0px;
  box-shadow: #BDC3C7 2px 2px 0px;
}

textarea {
	-webkit-border-radius: 2px;
-moz-border-radius: 2px;
border-radius: 2px;
}
textarea:focus {
	box-shadow: none;
}
 
.inline_content {
	padding:10px; 
	background:#fff;	
} 

#blue-bar {
	background: #4c66a4; margin-bottom: 20px;padding: 10px 10px 10px 10px;  position:absolute;	
} 

#blue-bar, #blue-bar a {
	color: #fff;
}

#blue-bar img {
width:25px;margin-right: 10px;border: 1px solid #fff;	
}

#logoutFace{
 	padding: 3px 33px 5px;
 }

#cboxClose {
	z-index: 9999;
	top: 12px !important;
	margin-right: 10px !important;
}
 
#facebook-photo-list {
	margin-top: 50px;
} 
 
#facebook-photo-list li {
	float: left;
	width: 190px;
	height: 140px;
	margin: 10px 8px;
	display: table-cell;
	background: #F4F6F9;
	border: 1px solid #ccc;
	transition: all ease 1.5s;
}

#facebook-photo-list li:hover {
	background: #3498DB;
}

#facebook-photo-list li img {
	cursor: pointer;
	vertical-align: middle;
}

.photo-canvas {
	width: 180px;
	height: 130px;
	margin: 5px ;
	overflow: hidden;
}

.processing {
	background: #3498DB !important;
}

.processing img {
	opacity: .5;
}

.processed {
	background: #2ECC71 !important;
	border-color: #27AE60 !important;
}


.rm {
	float: right;
	margin-top: -15px;
	margin-right: -15px; 
	background: red;
	width: 15px;
	height: 15px;
	border-radius: 10px;
	color: #fff;
	font-weight: bold;
}

.rm:hover {
	color:#fff !important;
}


.alt-box {
	position: relative;
	margin: 15px 0;
	padding: 39px 19px 14px;
	background-color: #fff;
	border: 1px solid #ddd;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.alt-box:after {
	content: attr(title);
	position: absolute;
	top: -1px;
	left: -1px;
	padding: 3px 7px;
	font-size: 12px;
	font-weight: bold;
	background-color: #f5f5f5;
	border: 1px solid #ddd;
	color: #9da0a4;
	-webkit-border-radius: 4px 0 4px 0;
	-moz-border-radius: 4px 0 4px 0;
	border-radius: 4px 0 4px 0;
}





/*!
 * Datepicker for Bootstrap
 *
 * Copyright 2012 Stefan Petre
 * Licensed under the Apache License v2.0
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 */
.datepicker {
  top: 0;
  left: 0;
   
  padding: 4px;
  margin-top: 1px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  /*.dow {
    border-top: 1px solid #ddd !important;
  }*/

}
.datepicker:before {
  content: '';
  display: inline-block;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #ccc;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: -7px;
  left: 6px;
}
.datepicker:after {
  content: '';
  display: inline-block;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #ffffff;
  position: absolute;
  top: -6px;
  left: 7px;
}
.datepicker > div {
  display: none;
}
.datepicker table {
  width: 100%;
  margin: 0;
}
.datepicker td,
.datepicker th {
  text-align: center;
  width: 20px;
  height: 20px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.datepicker td.day:hover {
  background: #eeeeee;
 
  cursor: pointer;
}
.datepicker td.day.disabled {
  color: #eeeeee;
}
.datepicker td.old,
.datepicker td.new {
  color: #999999;
}
.datepicker td.active,
.datepicker td.active:hover {
  background: #16A085;
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.datepicker td.active:hover,
.datepicker td.active:hover:hover,
.datepicker td.active:focus,
.datepicker td.active:hover:focus,
.datepicker td.active:active,
.datepicker td.active:hover:active,
.datepicker td.active.active,
.datepicker td.active:hover.active,
.datepicker td.active.disabled,
.datepicker td.active:hover.disabled,
.datepicker td.active[disabled],
.datepicker td.active:hover[disabled] {
  color: #ffffff;
  background-color: #16A085;
   
}
.datepicker td.active:active,
.datepicker td.active:hover:active,
.datepicker td.active.active,
.datepicker td.active:hover.active {
  background-color: #003399 \9;
}
.datepicker td span {
  display: block;
  width: 47px;
  height: 54px;
  line-height: 54px;
  float: left;
  margin: 2px;
  cursor: pointer;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.datepicker td span:hover {
  background: #eeeeee;
}
.datepicker td span.active {
  color: #ffffff;
  background-color: #006dcc;
  background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
  background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
  background-image: -o-linear-gradient(top, #0088cc, #0044cc);
  background-image: linear-gradient(to bottom, #0088cc, #0044cc);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);
  border-color: #0044cc #0044cc #002a80;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #0044cc;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.datepicker td span.active:hover,
.datepicker td span.active:focus,
.datepicker td span.active:active,
.datepicker td span.active.active,
.datepicker td span.active.disabled,
.datepicker td span.active[disabled] {
  color: #ffffff;
  background-color: #0044cc;
  *background-color: #003bb3;
}
.datepicker td span.active:active,
.datepicker td span.active.active {
  background-color: #003399 \9;
}
.datepicker td span.old {
  color: #999999;
}
.datepicker th.switch {
  width: 145px;
}
.datepicker th.next,
.datepicker th.prev {
  font-size: 21px;
}
.datepicker thead tr:first-child th {
  cursor: pointer;
}
.datepicker thead tr:first-child th:hover {
  background: #eeeeee;
}
.input-append.date .add-on i,
.input-prepend.date .add-on i {
  display: block;
  cursor: pointer;
  width: 16px;
  height: 16px;
}


  /* Fine Uploader
      -------------------------------------------------- */
  .qq-upload-list {
    text-align: left !important;
  }
  .qq-upload-list li {margin-bottom:5px;}

  li.alert-success {
    /*background-color: #DFF0D8;
text-align: left !important;*/
  }

  li.alert-error {
    background-color: #F2DEDE;
  }

  .alert-error .qq-upload-failed-text {
    display: inline;
  }
.qq-upload-file, .qq-upload-size {
    display: none !important;
  }
 
.control-label {
     
    font-size: 16px;
}

.box-header h2 {
    font-weight: bold;
    color: #1ABC9C;
    padding: 5px 8px !important;
    font-size: 22px;
    line-height: 28px;
}
         
.table  th{
	border-top: none !important;
}

.files-toolbar {
	background: #eff0f2;
	width: 220px;
	float: left;
	margin-right: 20px;
}

.files-toolbar .tools {margin:0}

.files-toolbar .tools li:first-child {
	width: 100px;
}

.files-toolbar .tools li {
	display: inline-block;
	padding: 2px 10px;
}

.files-list {
	display:none;
	position: absolute;
	background: #fff;
	border: 1px solid #eff0f2;	
	margin-top: 0;
	width: 450px;
	padding: 5px !important;
	-webkit-box-shadow: 0 5px 5px rgba(50, 50, 50, .2);
	-moz-box-shadow:    0 5px 5px rgba(50, 50, 50, .2);
	box-shadow:         0 5px 5px rgba(50, 50, 50, .2);
		max-height: 200px;
	overflow-y: auto;	
}

.files-list li {
	background: #fafafa;
	display: inline-block;
	padding:2px 5px;
	margin: 5px;
}

 

.download-single { 
	display: inline-block;
	padding: 2px 5px;
}

.download-single:hover {
	text-decoration: underline;	
} 

.caret-white {
	border-top-color: #fff !important;	
	border-bottom-color: #fff !important;
}

.thumb-box {
	float: left;
	width: 80px;
	height: 80px;
	line-height: 80px;
	overflow: hidden;
	text-align: center;
}

.thumb-download-link {
	float: left;
	line-height: 80px;
	display: block;
}


