      body {
        padding-top: 60px;
        padding-bottom: 40px;
/* background: url('../../img/bg/texture.jpg') no-repeat center top;       */
      }
      .sidebar-nav {
        padding: 9px 0;
      }

.sidebar-nav .well{
  background-color: #fbfbfb;
  background-image: -moz-linear-gradient(top, #ffffff, #f5f5f5);
  background-image: -ms-linear-gradient(top, #ffffff, #f5f5f5);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#f5f5f5));
  background-image: -webkit-linear-gradient(top, #ffffff, #f5f5f5);
  background-image: -o-linear-gradient(top, #ffffff, #f5f5f5);
  background-image: linear-gradient(top, #ffffff, #f5f5f5);
  background-repeat: repeat-x;
  border: 1px solid #ddd;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffff', endColorstr='#f5f5f5', GradientType=0);
  -webkit-box-shadow: inset 0 1px 0 #ffffff;
  -moz-box-shadow: inset 0 1px 0 #ffffff;
  box-shadow: inset 0 1px 0 #ffffff;
}



/* Comment Table */
.member-avatar img {
border: 1px solid #DDDDDD;}

.comment-info {
color:#666;
}

/* Portlets */
.box {border: 1px solid #DFDFDF;padding:10px;margin-bottom:10px;}

.box .box-header {
  border-bottom: 1px solid #ddd;
  margin:-10px;
  margin-bottom: 15px;
  padding:  5px;
/*	background-color: #fbfbfb;
  background-image: -moz-linear-gradient(top, #ffffff, #f5f5f5);
  background-image: -ms-linear-gradient(top, #ffffff, #f5f5f5);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#f5f5f5));
  background-image: -webkit-linear-gradient(top, #ffffff, #f5f5f5);
  background-image: -o-linear-gradient(top, #ffffff, #f5f5f5);
  background-image: linear-gradient(top, #ffffff, #f5f5f5);
  background-repeat: repeat-x;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffff', endColorstr='#f5f5f5', GradientType=0);
*/
  -webkit-box-shadow: inset 0 1px 0 #ffffff;
     -moz-box-shadow: inset 0 1px 0 #ffffff;
          box-shadow: inset 0 1px 0 #ffffff;
}

.box-header h3 {margin:0 !important;padding:0 !important;}

/* Round Corners and text effects
----------------------------------------------------------------------------------------------------*/

.round-all {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.round-top {
	-webkit-border-top-left-radius: 3px;
	-webkit-border-top-right-radius: 3px;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-topright: 3px;
	border-radius: 3px 3px 0 0;
}
.round-bottom {
	-webkit-border-bottom-right-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
	-moz-border-radius-bottomright: 3px;
	-moz-border-radius-bottomleft: 3px;
	border-radius: 0 0 3px 3px;
}
.round-left {
	-webkit-border-top-left-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-bottomleft: 3px;
	border-radius: 3px 0 0 3px;
}
.round-right {
	-webkit-border-top-right-radius: 3px;
	-webkit-border-bottom-right-radius: 3px;
	-moz-border-radius-topright: 3px;
	-moz-border-radius-bottomright: 3px;
	border-radius:0 3px 3px 0;
}
/* Member Box - Side Nav */
.member-box {
	padding:10px;
	 background-color: #fbfbfb;
  background-image: -moz-linear-gradient(top, #ffffff, #f5f5f5);
  background-image: -ms-linear-gradient(top, #ffffff, #f5f5f5);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#f5f5f5));
  background-image: -webkit-linear-gradient(top, #ffffff, #f5f5f5);
  background-image: -o-linear-gradient(top, #ffffff, #f5f5f5);
  background-image: linear-gradient(top, #ffffff, #f5f5f5);
  background-repeat: repeat-x;
  border: 1px solid #ddd;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffff', endColorstr='#f5f5f5', GradientType=0);
  -webkit-box-shadow: inset 0 1px 0 #ffffff;
     -moz-box-shadow: inset 0 1px 0 #ffffff;
          box-shadow: inset 0 1px 0 #ffffff;
}

img.member-box-avatar {
	border:1px solid #ccc;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

/* Dashboard  */
.box ul.dashboard-statistics li, ul.dashboard-member-activity li {
	border-bottom: 1px solid #ebebeb;
	border-top: 1px solid #fff;
}

.red {
	color:#B94A48;
}
.green {
	color:#468847
}
.yellow {
	color:#F89406
}
.blue {
	color:#3A87AD;
}

img.dashboard-member-activity-avatar {
	border:1px solid #ccc;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}


		label.error {
		  width: 24px;
		  height: 24px;
          background:  url(../../img/error.png) center center no-repeat;
		  text-indent: -9999px;
		  padding: 2px 8px;
  		  margin-top: -30px;
  		  position:absolute;
  		  margin-left: -190px;
		}

.imageSelected {background:red;}
.imageSelected img {opacity:0.9;}

/*--------------------------------------------------------------------------------------------------------------------
    Classes genericas auxiliares
--------------------------------------------------------------------------------------------------------------------*/
.tCenter {text-align:center;}
.tRight  {text-align:right;}

.tRed    {color:red;}


.box-secao {height:200px;overflow-y:scroll;}
.box-secao .nav-list li {margin-bottom:5px;}
.box-secao .nav-list li input[type="checkbox"] {margin-top:-3px;}


/* Sidenav
-------------------------------------------------- */

/* prevent column from collapsing when affixing */
.span3 {
  min-height: 1px;
}

.cp-sidenav {
/*  width: 228px;*/
  margin: 0 0 0 0;
  padding: 0;
  background-color: #fff;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.065);
     -moz-box-shadow: 0 1px 4px rgba(0,0,0,.065);
          box-shadow: 0 1px 4px rgba(0,0,0,.065);
}
.cp-sidenav > li > a {
  display: block;
  color: #444;
  *width: 190px;
  margin: 0 0 -1px;
  padding: 8px 14px;
  border: 1px solid #e5e5e5;
}
.cp-sidenav > li:first-child > a {
  -webkit-border-radius: 6px 6px 0 0;
     -moz-border-radius: 6px 6px 0 0;
          border-radius: 6px 6px 0 0;
}
.cp-sidenav > li:last-child > a {

  -webkit-border-radius: 0 0 6px 6px;
     -moz-border-radius: 0 0 6px 6px;
          border-radius: 0 0 6px 6px;
}
.cp-sidenav > li a.active  {
  position: relative;
  background:#f7f7f7;
  z-index: 2;
  padding: 9px 15px;
border-bottom:0;
  text-shadow: 0 1px 0 rgba(0,0,0,.15);
  font-weight:bold;
}

.cp-sidenav > li:last-child a.active {  -webkit-border-radius: 0;     -moz-border-radius: 0; border-radius: 0;}

.cp-sidenav li ul {display:none;  border: 1px solid #e5e5e5;background:#f7f7f7;border-top:0;border-bottom:0;}

.cp-sidenav li:last-child ul:last-child {border-bottom: 1px solid #e5e5e5;
  -webkit-border-radius: 0 0 6px 6px;
     -moz-border-radius: 0 0 6px 6px;

          border-radius: 0 0 6px 6px;
}



.cp-sidenav li ul li a {
    padding: 10px 25px;
    /*color: #D10607    ;*/
/*    border-bottom: 1px dotted #ccc;*/
/*    margin-bottom:3px;*/
}

/* Chevrons */
.cp-sidenav .icon-chevron-down {
  float: right;
  margin-top: 2px;
  margin-right: -6px;
  opacity: .25;
}
.cp-sidenav > li > a:hover {
  background-color: #f5f5f5;
}
.cp-sidenav a:hover .icon-chevron-right {
  opacity: .5;
}
.cp-sidenav .active .icon-chevron-right,
.cp-sidenav .active a:hover .icon-chevron-right {
  background-image: url(../img/glyphicons-halflings-white.png);
  opacity: 1;
}
.cp-sidenav.affix {
  top: 40px;
}
.cp-sidenav.affix-bottom {
  position: absolute;
  top: auto;
  bottom: 270px;
}
/*
a{color:#518724;text-decoration:none;}
a:hover{color:#70964f;text-decoration:underline;}

*/
/* =============================================================================
    Gráficos
   ========================================================================== */
/* Resets */
.graph-container,
.graph-container div,
.graph-container a,
.graph-container span {
  margin: 0;
  padding: 0;
}

/* Gradinet and Rounded Corners */
.graph-container, #tooltip, .graph-info a {
  background: #ffffff;
  background: -moz-linear-gradient(top,  #ffffff 0%, #f9f9f9 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f9f9f9));
  background: -webkit-linear-gradient(top,  #ffffff 0%,#f9f9f9 100%);
  background: -o-linear-gradient(top,  #ffffff 0%,#f9f9f9 100%);
  background: -ms-linear-gradient(top,  #ffffff 0%,#f9f9f9 100%);
  background: linear-gradient(to bottom,  #ffffff 0%,#f9f9f9 100%);

  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

/*  Graph Container */
.graph-container {
  position: relative;
  width: 630px;
  height: 300px;
  padding: 20px;

  -webkit-box-shadow: 0px 1px 2px rgba(0,0,0,.1);
  -moz-box-shadow: 0px 1px 2px rgba(0,0,0,.1);
  box-shadow: 0px 1px 2px rgba(0,0,0,.1);
}

.graph-container > div {
  position: absolute;
  width: inherit;
  height: inherit;
  top: 10px;
  left: 25px;
}

.graph-info {
  width: 620px;
  margin-bottom: 10px;
}

/* Text Styles */
#tooltip, .graph-info a {
  height: 20px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 12px;
  line-height: 20px;
  color: #646464;
}

.tickLabel {
  font-weight: bold;
  font-size: 12px;
  color: #666;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/* Tooltip */
#tooltip {
  position: absolute;
  display: none;
  padding: 5px 10px;
  border: 1px solid #e1e1e1;
}

/* Links */
.graph-info a {
  position: relative;
  display: inline-block;
  float: left;
  padding: 7px 10px 5px 30px;
  margin-right: 10px;
  text-decoration: none;
  cursor: default;
}

/* Color Circle for Links */
.graph-info a:before {
  position: absolute;
  display: block;
  content: '';
  width: 8px;
  height: 8px;
  top: 13px;
  left: 13px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

/* Colors For each Link */
.graph-info .visitors { border-bottom: 2px solid #71c73e; }
.graph-info .returning { border-bottom: 2px solid #77b7c5; }

.graph-info .visitors:before { background: #71c73e; }
.graph-info .returning:before { background: #77b7c5; }

/* Lines & Bars Buttons */
#lines, #bars {
  width: 34px;
  height: 32px;
  padding: 0;
  margin-right: 0;
  margin-left: 10px;
  border-bottom: 2px solid #71c73e;
  float: right;
  cursor: pointer;
}

#lines.active, #bars.active {
  background: #82d344;
  background: -moz-linear-gradient(top,  #82d344 0%, #71c73e 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#82d344), color-stop(100%,#71c73e));
  background: -webkit-linear-gradient(top,  #82d344 0%,#71c73e 100%);
  background: -o-linear-gradient(top,  #82d344 0%,#71c73e 100%);
  background: -ms-linear-gradient(top,  #82d344 0%,#71c73e 100%);
  background: linear-gradient(to bottom,  #82d344 0%,#71c73e 100%);
}

#lines span, #bars span {
  display: block;
  width: 34px;
  height: 32px;
  background: url('../../img/icons/lines.png') no-repeat 9px 12px;
}

#bars span { background: url('../../img/icons/bars.png') no-repeat center 10px; }

#lines.active span { background-image: url('../../img/icons/lines_active.png'); }
#bars.active span { background-image: url('../../img/icons/bars_active.png'); }

/* Hide the First and Last Y Label */
.yAxis .tickLabel:first-child,
.yAxis .tickLabel:last-child { display: none; }

/* Clear Floats */
.graph-info:before, .graph-info:after,
.graph-container:before, .graph-container:after {
  content: '';
  display: block;
  clear: both;
}


